.cdk-overlay-container .context-menu {
    --mdc-dialog-container-color: var(--ctx-menu-background-color, #2f2f2f);

    .mdc-dialog__container {
        transform-origin: top left;
    }

    .mdc-dialog--open .mdc-dialog__container {
        transform: none;
    }
}

.cdk-overlay-container .context-menu-backdrop.cdk-overlay-backdrop-showing {
    opacity: 0;
}

.cdk-overlay-pane.context-menu {
    .mat-dialog-container {
        padding: 0;
    }
}

mat-dialog-container app-context-menu {
    user-select: none;

    table {
        border-spacing: 0;
        border-radius: 5px;
        padding: 4px 0;
    }

    tr {
        font-size: 14px;

        transition: background-color 75ms ease,
            color 75ms ease;

        &:not(.disabled):hover {
            background-color: var(--ctx-menu-hover-background-color, #94ebeb);

            .label {
                color: var(--ctx-menu-hover-text-color, #000);
            }
        }

        .icon {
            width: 24px;
            height: 24px;
            padding-left: 10px;
        }

        .label {
            color: var(--ctx-menu-text-color, #ccc);
        }

        &.disabled .label {
            color: var(--ctx-menu-disabled-text-color, #919191);
        }

        .shortcut {
            color: var(--ctx-menu-shortcut-text-color, #848484);
            text-align: end;
            padding-right: 10px;
            padding-left: 12px;
        }


        td {
            vertical-align: middle;
        }

        &.hr td {
            height: 1px;
            background: var(--ctx-menu-separator-color, #2a2a2a);
        }
    }
}
