@mixin light-theme() {
    --background-color: #f7f7f8;

    --text-color: #212121;
    --text-subdued-color: rgba(0, 0, 0, 0.54);
    // --text-secondary-color: darkslategray
    --text-header-color: #0d47a1;

    // Progress spinner color
    --mdc-circular-progress-active-indicator-color: #fff;
    --mdc-dialog-container-color: #0000;

    // Context Menu coloring
    --ctx-menu-text-color: #333;
    --ctx-menu-disabled-text-color: #666;
    --ctx-menu-background-color: #d1d1d1;
    --ctx-menu-hover-background-color: #81d4fa;
    --ctx-menu-hover-text-color: #000;
    --ctx-menu-shortcut-text-color: #444;
    --ctx-menu-separator-color: #e2e2e2;
}
