
.cdk-overlay-pane.dialog-documentation {
    padding: 0;
    min-width: 90vw;
    min-height: 90vh;
    app-documentation {
        height: 90vh;
    }
}

.desktop .dialog-draggable {
    position: absolute !important;
    resize: both;
    left: 0;
    top: 0;
    // Initially place it in the center of the page
    transform: translate(calc(50vw - 50%), calc(50vh - 50%));
}


.mobile .cdk-overlay-pane {
    max-width: 100vw!important;
    max-height: 100vh!important;
}


es-dialog-wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;

    .modal {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .titlebar {
        display: flex;
        align-items: center;
        height: 36px;
        background: var(--dialog-titlebar-background-color);
        color: var(--dialog-titlebar-text-color);
        user-select: none;

        &>img {
            width: 28px;
            height: 28px;
            margin: 0 8px 0 4px;
            background: #ffffffc7;
            padding: 3px;
            border-radius: 50%;
        }

        h3 {
            margin: 0 8px !important;
            font-size: 15px;
        }

        button {
            margin-right: 6px;
        }

        .mdc-icon-button,
        .mat-mdc-button-touch-target {
            height: 32px !important;
            width: 32px !important;
            padding: 0 !important;

            .mat-icon {
                padding: 4px 1px;
            }
        }

        app-security-control {
            background: white;
            border-radius: 6px;
            height: 28px;
            margin-right: 12px;
            box-shadow: inset 3px 3px 6px 0px #0000004f;
        }
    }

    .content {
        height: 100%;
        overflow: auto;
        flex-grow: 1;
    }
}
