.container {
    background-color: #222222;
    margin: 0 auto;
    width: 100%;
    max-width: 620px;
    min-height: 568px;
    margin: 0 auto;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 9px 13px 0px rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
}

.menu-trigger,
.close-trigger {
    position: absolute;
    top: 32px;
    right: 20px;
    display: block;
    width: 42px;
    height: 42px;
    cursor: pointer;
    z-index: 333;
}

.menu-trigger:hover .menu-trigger-bar:before,
.close-trigger:hover .menu-trigger-bar:before {
    width: 100%;
}

.menu-trigger:hover .close-trigger-bar:before,
.close-trigger:hover .close-trigger-bar:before {
    width: 100%;
}

.close-trigger {
    z-index: 5;
    top: 42px;
}

.menu-trigger-bar {
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
    margin-bottom: 6px;
    transform: rotate(-45deg);
    position: relative;
}

.menu-trigger-bar:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.menu-trigger-bar.top {
    width: 50%;
}

.menu-trigger-bar.middle:before {
    left: auto;
    right: 0;
}

.menu-trigger-bar.bottom {
    width: 50%;
    margin-left: 50%;
}

.close-trigger-bar {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #222222;
    position: relative;
}

.close-trigger-bar:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.close-trigger-bar.left {
    transform: translateX(100px) translateY(-100px) rotate(-45deg);
}

.close-trigger-bar.right {
    transform: translateX(-100px) translateY(-100px) rotate(45deg);
    top: -3px;
}

.logo {
    display: block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -52px;
    margin-left: -32px;
    text-align: center;
    z-index: 10;
}

.logo span {
    display: block;
    text-align: center;
    line-height: 62px;
    font-size: 72px;
    color: white;
}

.logo-title {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    color: #222222;
    font-size: 32px;
    line-height: 82x;
}

.logo-badge {
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    top: 6px;
    right: -6px;
    border-radius: 100%;
    background-color: #6295ca;
    font-size: 12px;
    line-height: 2;
    text-align: center;
}

.inner-container,
.menu-container {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.inner-container {
    z-index: 20;
}

.menu-container {
    display: flex;
    align-items: center;
}

.menu {
    display: block;
    width: 100%;
    padding: 20%;
}

.menu li {
    text-align: left;
    display: block;
    padding: 15px 0;
}

.menu a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 10px 0;
    position: relative;
}

.menu a:hover:before {
    opacity: 1;
    transform: translateX(0px);
}

.menu a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 18px;
    height: 4px;
    opacity: 0;
    background-color: #222222;
    transform: translateX(100px);
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.menu-bg {
    position: absolute;
    display: block;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background-color: white;
    transform: rotate(45deg);
}

.menu-bg.top {
    bottom: 100%;
    right: 100%;
}

.menu-bg.middle {
    top: -25%;
    right: -25%;
    bottom: -25%;
    left: -25%;
    transform: rotate(45deg) scaleX(0);
}

.menu-bg.bottom {
    top: 100%;
    left: 100%;
}
